<%= render 'shared/navbar' %>

<div class="overview container">
  <div class="summary text-center">
    <h1><strong><%= @feature.header %></strong></h1>
    <h3><%= @feature.subhead %></h3>
    <p><%= @feature.description %></p>
    <div class="row">
      <div class="btn-cta">
        <p>Free Download <br>For Apple Mail</p>
        <img src="<%= image_path('apple_icon.png') %>" alt="Apple">
      </div>
      <div class="btn-cta">
        <p>Free Download <br>For Gmail</p>
        <img src="<%= image_path('gmail_icon.png') %>" alt="GMail">
      </div>
    </div>
  </div>
  <div class="feature-icon hidden-xs hidden-sm"">
    <%= cl_image_tag(@feature.cloundinary_img_id, width: 400, height: 300, crop: :fit) %>
  </div>
</div>

<div class="links container">
  <div class="row">
    <div class="card-container">
      <% @features.each do |feature| %>
      <div class="col-xs-6 col-lg-2">
      <%= link_to feature_path(feature) do %>
      <div class="<%= 'active' if request.original_url == feature_url(feature) %> card text-center ">
        <%= cl_image_tag(feature.cloundinary_img_id, width: 100, height: 100, crop: :fill) %>
        <%= feature.header %>
      </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="offers container">
  <div class="row">
    <div class="video-preview">
      <div class="col-lg-6">
        <iframe width="560" height="315" src="<%= @feature.video_link %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="offers-summary col-lg-6">
      <h3 class="text-center">Mailbutler offers</h3>
      <ul>
        <% @feature.offers.each do |offer| %>
        <li><p><strong><%= offer.title %>:</strong> <%= offer.description %></p></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'shared/testimonials' %>

<%= render 'shared/mailchimp_signup' %>

<%= render 'shared/faq' %>

